<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__row">
        <div class="footer__item-container">
          <div class="footer__title">
            Организаторы мероприятия:
          </div>
          <ul class="footer__list">
            <li class="footer__item">
             <a href="https://vk.com/digital4822" class="footer__link">
              <img class="footer__partners" src="img/members/3.png" alt="">
              Министерство цифрового развития Тверской области
             </a>
            </li>
            <li data-event="tennis" class="footer__item is-hidden">
              <a href="#" class="footer__link">
               <img class="footer__partners" src="img/members/9.png" alt="">
               Профсоюз работников
               связи России
              </a>
            </li>

          </ul>
        </div>
        <div class="footer__item-container">
          <div class="footer__title">
            Наши соцсети:
          </div>
          <ul class="footer__list">
            <li class="footer__item">
              <a href="#" target="_blank" class="footer__link">
                <img class="footer__social" src="img/svg/vk.svg" alt="">
                Вконтакте
              </a>
            </li>
            <li class="footer__item">
              <a href="#" target="_blank" class="footer__link">
                <img class="footer__social" src="img/svg/teleg.svg" alt="">
                Телеграмм
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__item-container">
          <div class="footer__title">
            Разделы
          </div>
          <ul class="footer__list">
            <li class="footer__item">
              <a href="#program" target="_blank" class="footer__link footer__link--anch">

                Программа
              </a>
            </li>
            <li class="footer__item">
              <a href="#photo"  class="footer__link footer__link--anch">

                Фотоальбом
              </a>
            </li>
            <li class="footer__item">
              <a href="#members" target="_blank" class="footer__link footer__link--anch">

                Участники
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="js/main.js"></script>
