<header class="header">
  <div class="container">
    <div class="header__row">
      <div class="header__swicth swicth">
      <div class="swicth__row">
        <a href="#bowling" data-value="bowling" class="swicth__item swicth__item--js-active">

          <img loading="lazy" src="img/svg/bowling.svg" class="swicth__icon"  alt="">

          <div class="swicth__item-container">
            <div class="swicth__item-title">
              Боулинг
            </div>
          </div>
        </a>
        <a href="#tennis" data-value="tennis" class="swicth__item">
          <img loading="lazy" src="img/svg/tennis.svg" class="swicth__icon"  alt="">
          <div class="swicth__item-container">
            <div class="swicth__item-title">
              Теннис
            </div>
          </div>
        </a>
      </div>
      </div>
      <nav class="header__menu menu">
        <ul class="menu__list">
          <li class="menu__item"><a href="#program" class="menu__link">Программа</a></li>
          <li class="menu__item"><a href="#photo" class="menu__link">Фотоальбом</a></li>
          <li class="menu__item"><a href="#members" class="menu__link">Участники</a></li>
        </ul>
      </nav>
      <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>
